secret_key.txt
logos/
.vscode/
.DS_Store/
.DS_Store

TheClub/__pycache__/
TheClub/clubAPI/migrations/__pycache__/

TheClub/clubClient/node_modules
TheClub/clubClient/.pnp
TheClub/clubClient/.pnp.js

TheClub/clubClient/coverage

TheClub/clubClient/build

TheClub/clubClient/.DS_Store
TheClub/clubClient/.env.local
TheClub/clubClient/.env.development.local
TheClub/clubClient/.env.test.local
TheClub/clubClient/.env.production.local

TheClub/clubClient/npm-debug.log*
TheClub/clubClient/yarn-debug.log*
TheClub/clubClient/yarn-error.log*